---
title: Projects
---

<html>
<head>
    <title>Halldor Thorhallsson</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Halldor Thorhallsson is a Machine Learning Engineer'>
    <meta name='keywords' content='
        machine learning,
        deep learning,
        computer science,
        software engineering
    '>
    <meta name='author' content='Halldor Thorhallsson'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='page' class='wrap'>
        <div id='projects' class='section'>
            <h2>Projects</h1>
                <div class='page-row'>
                    <p class='page-title'>
                        Visualizing the Bias-Variance tradeoff for K-Nearest Neighbours
                    </p>
                </div>
                <p class='page-subtitle'>
                    A simple interactive visualization in D3.js for playing around with the Bias-Variance tradeoff using K-nearest neighbours. Joint work with <a href="https://scholar.google.ca/citations?view_op=list_works&hl=en&hl=en&user=SHHfhvEAAAAJ" target="_blank">Gursimran Singh</a>.
                </p>
                <ul class="links">
                    <li><a href="/projects/knn-viz/index.html" target="_blank">Demo</a></li>
                    <li><a href="https://github.com/hthorhalls/knn-viz" target="_blank">Code</a></li>
                    <li><a href="https://gursimar.github.io/assets/CPSC_547_report.pdf">Paper</a></li>
                </ul>
        </div>
        <footer>
            <i>Theme copied from <a href="https://github.com/gwgundersen/blog-theme" target="_blank">Gregory Gundersen</a></i>
        </footer>
    </div>
    {% include analytics.html %}
</body>
</html>
