<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hthorhalls">
    <meta name="twitter:title" content='{{ page.title }}'>
    <meta property="og:type" content="article" />
    {% if page.subtitle %}
        <meta name='description' content='{{ page.subtitle }}'>
        <meta property='og:description' content='{{ page.subtitle }}'>
        <meta name='twitter:description' content='{{ page.subtitle }}'>
    {% else %}
        <meta name='description' content='Halldor Thorhallsson is a Machine Learning Engineer'>
        <meta property='og:description' content='Halldor Thorhallsson is a Machine Learning Engineer'>
    {% endif %}

    {% if page.og_image %}
        <meta property='og:image' content='{{ site.url }}{{ page.og_image }}'>
        <meta name='twitter:image' content='{{ site.url }}{{ page.og_image }}'>
    {% else %}
        <meta property='og:image' content='{{ site.url }}/favicon.ico'>
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='Halldor Thorhallsson'>

    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>
    <link rel="icon" type="image/png" href="/favicon/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Halldor Thorhallsson" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    {% include mathjax.html %}
</head>
<body>
<div class='content'>
    {% include nav.html %}
    <div class='front-matter'>
        <div class='wrap'>
            <h1>{{ page.title }}</h1>
            <h4>{{ page.subtitle }}</h4>
            <div class='bylines'>
                <div class='byline'>
                    <h3>Published</h3>
                    <p>{{ page.date |  date: '%d %B %Y' }}</p>
                </div>
            </div>
            <div class='clear'></div>
        </div>
    </div>
    <div class='wrap article'>
        {{ content }}
    </div>
    <div id='bibliography'>
        <div class='wrap'>
            {% bibliography --cited %}
        </div>
    </div>
    </div>
{% include analytics.html %}
</body>
</html>